.rounded-img {
        width: 10%;
        border-radius: 30%;
        box-shadow: 0 0 10px silver;
        padding: 0.3em;
        margin-bottom: 1em;
        }
.card {
        border-radius: 1em;
        text-align: center;
        padding: 1em;
      }
.card:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
.card img {
        border-radius: 10%;
        width: 75%;
        margin: auto;
      }
