{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
    <div class="container text-center my-5">
      <!-- определяем отступы m-margin, y-по вертикали(верх и низ) 5-величина -->
      <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">
          <!-- ширина 6/12 для большого экрана и 8/12 для планшета-->
          <img class="rounded-img" src="/media/img/2.jpg" alt="логотип" width="50%"/>
          <!-- для картинки применяем свой стиль-->
          <h1 class="fw-light">Это магазин {{ title }}</h1>
          <p class="lead text-muted">Здесь вы можете окунуться в увлекательный мир террариумистики</p>
          <!-- задаем разные стили для текстов заголовка и параграфа-->
          <a href="{% url 'category:species' %}" target="_self" class="btn btn-primary">
            Животные
          </a>
          <a href="{% url 'category:products' %}" target="_self" class="btn btn-secondary">
            Товары
          </a>
          <!-- стиль и ссылка для кнопки-->
        </div>
      </div>
    </div>
{% endblock %}