{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
    <!--адаптивное количество карточек в ряду-->
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3" style="display: flex; justify-content: space-between"> <!-- -->

        {% for item in list_of_species %}
        <div class="card" style="width: 16rem"> <!-- ;  -->
            <img src="/media/{{ item.image }}" class="card-img-top" alt="img not found" />
            <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
                <p class="card-text">{{ item.short_desc }}</p>
                <p class="card-text">{{ item.price }} &#8381</p>
                <a href="{% url 'category:species_detailed' item.pk %}" class="btn btn-primary">подробнее</a>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}